body {
    background-color: #001f4f;
    font-family: "Raleway", sans-serif;
}
.container {
    width: 350px;
    height: 500px;
    background-color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 25px;
    box-shadow: 2px 2px 16px rgb(220,20,60), -2px -2px 4px rgb(192, 192, 192);
}
.wrapper {
    padding: 20px;
}
h1 {
    position: absolute;
    left: 50%;
    top: -60px;
    width: 300px;
    transform: translateX(-50%);
    background-color: #ff851b;
    color: #fff;
    font-weight: 100;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    font-size: 18px;
    text-align: center;
    padding: 10px;
}
button {
    margin: 20px auto;
    width: 150px;
    height: 50px;
    background-color: #39cccc;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 5px;
}
select {
    width: 88%;
}
input,
select {
    width: 80%;
    border: none;
    border-bottom: 1px solid #0074d9;
    padding: 10px;
}
input:focus,
select:focus {
    border: 1px solid #0074d9;
    outline: none;
}
.tip {
    text-align: center;
    font-size: 18px;
    display: none;
}